@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

*{
     font-family: "Outfit", sans-serif;
}

@layer base {
  html {
    /* The actual hex for slate-950 - ensures the browser 'canvas' is dark */
    background-color: #020617; 
  }

  body {
    @apply bg-slate-950 text-slate-50;
    /* Prevents the 'white flash' or 'white bounce' on mobile scroll */
    overscroll-behavior-y: none; 
    min-height: 100vh;
  }

  button {
    @apply cursor-pointer;
  }
}

/* Fix for Chrome autofill and paste turning input white */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Use #020617 to match your bg-slate-950 body exactly */
  -webkit-box-shadow: 0 0 0 30px #020617 inset !important; 
  -webkit-text-fill-color: #fff !important; 
  caret-color: #fff !important;
  transition: background-color 9999s ease-in-out 0s;
}

